@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #141414;
  --label: #E7EEEB;
  --caption: #A8ADAA;
  --placeholder: #7D817F;
  --transparentbg: rgba(231, 238, 235, 0.08);
}

body {
  color: var(--label);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.noise {
  background-image: url(../../public/noise.svg);
  
}

h1 {
  font-family: "Clash Display Variable";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--label);
}

h2 {
  font-family: "Clash Display Variable";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--label);

}

h3 {
  font-family: "Clash Display Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.045rem;
  text-transform: capitalize;
  color: var(--label);

}

h4 {
  font-family: "Clash Display Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--label);

}

h5 {
  font-family: "Clash Display Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;

}

.buttonBG {
  background-image: url(../../public/gradient.png);
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonBG:hover {
  background-size: revert;
}

.light-left {
  position: absolute;
  left: 0;
}

.light {
  background-image: url(../../public/light.png);
  background-repeat: no-repeat;
  background-position-x: -5rem;
  background-position-y: 4rem;
  background-size: cover;

}

.inline {
  inline-size: max-content;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 0.875rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.875rem;
  }
}