@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #141414;
  --label: #E7EEEB;
  --caption: #A8ADAA;
  --placeholder: #7D817F;
  --transparentbg: rgba(231, 238, 235, 0.08);
}

body {
  color: var(--label);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
